@charset "UTF-8";
// 定义字体
@font-face {
    font-family: "Title";
    src: url('@/assets/font/KNFONTYUANMO-2.otf');   // 注意这里的路径
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Exponent";
    src: url('@/assets/font/851DianJiWenZiTi-2.ttf');   // 注意这里的路径
    font-weight: normal;
    font-style: normal;
}